# sequence file
outputs/
uploads/

# compression file
*.gz
*.cpgz
*.zip
*.rar
*.7z

# ========================= new =========================

# Logs
logs/

# Dependency directories
node_modules/

# yarn
yarn.lock